<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Adding Pokemon</title>
    <style type="text/css">
		html {font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
	</style>
</head>

<body style="background-color: slategrey;">
    <div id="content" style="background-color:white; width:50rem; height:50rem; padding:2rem; margin-left: 20rem;">
    <h1>Success!</h1>
    You have added a new Pokemon to your team!
    <br>
    <br>

    <a href="/team">Add More Pokemon To Your Team</a>
    <br>
    <a href="/displayTeam">View Your Team</a>
    <br>
    <a href="/">HOME</a> 
    </div>
    
</body>
    
</html>