<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>PokeServer Team </title>
	<style type="text/css">
		html {font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
	</style>
</head>

<body style="background-color: slategrey;">
<div id="content" style="background-color:white; width:50rem; height:50rem; padding:2rem; margin-left: 20rem;">
	<h1>Build your Team</h1>
	<form action="/team" method="post"> 
		<em>Enter Pokemon name here to add it to your team:</em><br><br>
		<label>Name: <input type="text" name="pokemon"/></label>
		<br><br>
		<input type="submit" value="Add to Team"/>
	</form>
    <br>
	<%- error %>
	<br>
    <br>
	<a href="/">HOME</a><br>
	<a href="/displayTeam">View Team</a>
</div>
</body>

</html>
